
@{
    ViewBag.Title = "Seçenekler";
    Layout = null;
}

<link href="~/Content/secim.css" rel="stylesheet" />
<div class="container">

    <a class="btn btn-4 .btntext" href="~/Home/Kitap">Kitap</a>
    <a class="btn btn-3 .btntext" href="~/Home/Dizi">Dizi</a>
    <a class="btn btn-2 .btntext" href="~/Home/Film">Film</a>

</div>



