
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Kitap</title>
    <link href="~/Content/ortak.css" rel="stylesheet" />
</head>
<body>
    <div class="container">
        <div class="row col-md-6 col-md-offset-3" style="margin-top:30px;">
            <h1 style="text-align:center;color:black;font-weight:bolder;font-family:'Segoe UI'">Beni Seç - Kiera Cass</h1>
        </div>
        <div class="row col-md-6 col-md-offset-3" style="margin-top:15px; text-align:center">
            <img src="~/Images/BeniSec.jpg" /><br />
                                              <p style="color:black;font-weight:700;">
                                                  Bir prens nasıl tavlanır?<br /><br />

                                                  Illéa ülkesinde tüm genç kızlar doğdukları günden beri sınıf atlamanın peşinde. Paha biçilmez mücevherlere, göz alıcı elbiselere ancak bu şekilde sahip olabilecekler.<br /> Bunun için tek bir şansları var: SEÇİM. Kıyasıya bir mücadeleyle geçen Seçim'i kazanmanıntek yolu Prens Maxon'ı kendine âşık etmek.<br />

                                                  America içinse Seçim, bir kâbustan farksız. Bu yarışa girmeyi kabul ederse, kendisinden aşağı sınıftan olduğu için herkesten gizlediği aşkı Aspen'i arkasında bırakmak zorunda kalacak. <br />Öte yandan bu, ailesinin tek kurtuluş şansı.<br />

                                                  America saraya adım atar atmaz, kendini esrarengiz bir dünyanın içinde bulacak. Saray hiç de dışarıdan göründüğü gibi olmayacak.<br />

                                                  35 kızın katıldığı vahşi bir yarış nasıl kazanılır?<br /><br />


                                                  "Açlık Oyunları ile The Bachelor arasında bir yerde duran bu roman öyle eğlenceli ki. Yazar, America'nın gizli, ilk aşkının külleri sönerken America ve Prens Maxon arasında gelişen kimyayı öyle ustaca kurmuş ki, okumaya doyamıyorsunuz."<br />
                                                  Publishers Weekly<br /><br />

                                                  "Kiera Cass'in ilk romanı Beni Seç, reality şov ve distopik bir peri masalının mükemmel sentezi."<br />
                                                  Kiersten White, Paranormal
                                              </p>
        </div>
        <div class="row col-md-6 col-md-offset-3" style="margin-top:30px;">
            <h1 style="text-align:center;color:black;font-weight:bolder;font-family:'Segoe UI'">Elit (Beni Seç Serisi 2. Kitap) - Kiera Cass</h1>
        </div>
        <div class="row col-md-6 col-md-offset-3" style="margin-top:15px; text-align:center">
            <img src="~/Images/Elit.jpg" />  <br />
            <p style="color:black;font-weight:700;">
                Sarayda 6 kız... Savaş kızışıyor.<br />

                "Babamdan gelen mektubu ellerimde tuttum.<br />
                Aspenin prenses olamayacağımdan emin oluşu aklıma geldi.<br />
                Halk oylamasında en sonuncu olduğumu hatırladım.<br />
                Maxonın haftanın ilk günlerinde verdiği şifreli sözü düşündüm...<br />
                Gözlerimi yumdum ve kendimi yokladım.<br />
                Bunu gerçekten yapabilir miydim?<br />
                Illéanın yeni prensesi olabilir miydim?"<br /><br />

                Saraya 35 kız girmişti, şimdi 6 kız var.<br />
                Ve artık Elitler Prens Maxonın aşkını kazanmaya çok daha kararlı.<br />
                Zaman Americanın aleyhine işliyor. Biran önce karar vermeli.<br />
                Çocukluğundan beri birlikte gelecek hayalleri kurduğu Muhafız Aspen mi?<br />
                Yoksa nefes kesici romantizmiyle başını döndüren Prens Maxon mı?<br />
                Kimi seçerse seçsin, aklı diğerinde kalacak.<br />
                Ve Asi Kuzeyliler bu peri masalının mutlu sona
                ulaşmaması için ellerinden geleni yapacak.
            </p>
        </div>
        <div class="row col-md-6 col-md-offset-3" style="margin-top:30px;">
            <h1 style="text-align:center;color:black;font-weight:bolder;font-family:'Segoe UI'">Sonsuza Dek (Beni Seç Serisi 3. Kitap) - Kiera Cass</h1>
        </div>
        <div class="row col-md-6 col-md-offset-3" style="margin-top:15px; text-align:center">

            <img src="~/Images/SonsozaDek.png" /> <br />
            <p style="color:black;font-weight:700;">
                Seçim, America'nın hayatını tamamıyla değiştirmişti.<br />
                Illéa'nın prensesi olmak için yarışmaya katıldığından beri, ilk aşkı Aspen'e hissettikleri ve Prens Maxon'a karşı gün geçtikçe artan ilgisi arasında kalmıştı.<br />

                Şimdi America için gerçekten de karar verme zamanı.<br />
                Savunduğu doğrular için mücadele zamanı.<br />
                İstediği gelecek için savaşma zamanı.<br />
                Sonsuza dek seveceği erkeği seçme zamanı.<br />

                Yayınlandığı tüm ülkelerde çok satanlar listesine hızlı bir giriş yapan Sonsuza Dek, Beni Seç ve Elit'ten sonra Seçim serisinin üçüncü kitabı. <br />Uzun süredir serinin hayranları tarafından beklenen Sonsuza Dek'te Kiera Cass distopik fantazyayı peri masalıyla birleştiriyor ve unutulmaz bir finale imza atıyor.
            </p>
        </div>
        <div class="row col-md-6 col-md-offset-3" style="margin-top:30px;">
            <h1 style="text-align:center;color:black;font-weight:bolder;font-family:'Segoe UI'">Veliaht Prenses (Beni Seç Serisi 4. Kitap) - Kiera Cass</h1>
        </div>
        <div class="row col-md-6 col-md-offset-3" style="margin-top:15px; text-align:center">
            <img src="~/Images/VeliahtPrenses.jpg" />  <br />
                                                       <p style="color:black;font-weight:700;">
                                                           Prenses Eadlyn, annesiyle babasının peri masalına benzeyen aşk hikâyesini dinleyerek büyüdü. <br />Ancak kendisinin bu peri masalını tekrarlamaya pek niyeti yoktu. Ne yazık ki, ülkede büyük bir kaos yasanmaya başlayınca, bir prenses düğünüyle halk sakinleştirilmek istendi. <br />Ve piyango, tahtın vârisi büyük çocuk olan Eadlyn'e vurdu!<br /><br />

                                                           Seçim kaçınılmaz olunca, Eadlyn otuz beş adayı saraya davet etmeye mecbur kaldı. <br />Annesi America da Prens Maxon'un kalbini yirmi yıl önce böyle bir Seçim'de kazanmıştı. <br />Tüm ülkenin sorumluluğunu alacak, geleceğin kraliçesi Eadlyn öyle kolay pes etmeyecekti.
                                                       </p>
        </div>
    </div>
</body>
</html>
